CRM Lead Automation.json
{
  "name": "CRM Lead Automation",
  "nodes": [
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Full Name",
              "stringValue": "={{ $json['Full Name'] }}"
            },
            {
              "name": "Email",
              "stringValue": "={{ $json.Email }}"
            },
            {
              "name": "Budget",
              "stringValue": "={{ $json.Budget }}"
            },
            {
              "name": "Phone",
              "type": "numberValue",
              "numberValue": "={{ $json.Phone }}"
            }
          ]
        },
        "include": "selected",
        "options": {}
      },
      "id": "afd53711-922b-458a-b654-732c5b7aec98",
      "name": "Normalize Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1008,
        448
      ]
    },
    {
      "parameters": {
        "functionCode": "const budget = $json.Budget;\n\nlet score = 0;\n\nif (budget === \"High\") score += 50;\nelse if (budget === \"Medium\") score += 25;\nelse score += 10;\n\n$json.leadScore = score;\n$json.leadTier =\n  score >= 50 ? \"Hot Lead\" :\n  score >= 25 ? \"Warm Lead\" :\n  \"Cold Lead\";\n\nreturn $input.item;"
      },
      "id": "cca697ee-edee-4213-ae1f-0347856e1940",
      "name": "Lead Scoring Engine",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -816,
        448
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1kYBsoEM4_RzlSa7PzXeH5dFViAf0LFRni0VwHx2Epj8",
          "mode": "list",
          "cachedResultName": "CRM data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kYBsoEM4_RzlSa7PzXeH5dFViAf0LFRni0VwHx2Epj8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "n8n Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kYBsoEM4_RzlSa7PzXeH5dFViAf0LFRni0VwHx2Epj8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Full Name": "={{ $json['Full Name'] }}",
            "Budget": "={{ $json.Budget }}",
            "Phone Number": "={{ $json.Phone }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "How did you hear about us?",
              "displayName": "How did you hear about us?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "968db613-cf74-4723-9302-d0afd1b45215",
      "name": "Save Lead to CRM",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -608,
        448
      ],
      "credentials": {
       
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.leadScore }}",
              "rightValue": 40,
              "operator": {
                "type": "number",
                "operation": "larger"
              },
              "id": "28690240-40af-410b-a0f2-85573ae75b3b"
            },
            {
              "id": "6702d0fa-17fa-4490-b7a2-f2db5d612e68",
              "leftValue": "={{ $json.Budget }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "45f63fb9-018d-47ed-afb9-c59f490a24ab",
      "name": "Is High Value Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -416,
        448
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Thanks for contacting us!",
        "message": "=Hi {{ $json.Email }},\n\nThank you for reaching out!\nA sales specialist will contact you shortly.\n\nReference: {{$execution.id}}\n\nBest regards,\nSales Team",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "8ed51261-6c93-40da-80e2-6dc0d7d890ae",
      "name": "Send Success Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -208,
        336
      ],
      "webhookId": "5a1b5a62-f1f7-43e0-8d06-b393429ef928",
      "credentials": {
       
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFQCB3LS2",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "text": "=🔥 NEW HOT LEAD\n\nName: {{ $('Is High Value Lead?').item.json['Full Name'] }}\nEmail: {{ $('Is High Value Lead?').item.json.Email }}\nBudget: {{ $('Is High Value Lead?').item.json.Budget }}\nScore: {{ $('Lead Scoring Engine').item.json.leadScore }}\n\nTime: {{$now}}",
        "otherOptions": {}
      },
      "id": "7c2e5af6-5658-402c-8c09-1f2180309653",
      "name": "Slack Hot Lead Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        -16,
        336
      ],
      "webhookId": "d86fe36f-9785-44af-a89b-9ef61bb5869d",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Save Lead to CRM').item.json.Email }}",
        "subject": "Thanks for contacting us",
        "message": "=Hi {{ $('Save Lead to CRM').item.json['Full Name'] }},\n\nThank you for your interest. Currently you are not eligible, but we will keep your details for future opportunities.\n\nBest regards,\nSales Team",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "1cfd821e-9c3d-4c59-a4db-89bd7e957dc0",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -208,
        560
      ],
      "webhookId": "80544f5d-083f-47ee-b1da-f5d1c2fd4c6e",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFQCB3LS2",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "text": "=ℹ️ New Lead (Low Priority)\n\nName: {{ $('Save Lead to CRM').item.json['Full Name'] }}\nBudget: {{ $('Save Lead to CRM').item.json.Budget }}\n",
        "otherOptions": {}
      },
      "id": "0004d5a3-16d7-4730-a4b2-973a572c3320",
      "name": "Slack Normal Lead",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        -16,
        560
      ],
      "webhookId": "bc0e5be2-63b1-433e-b38e-3e7ce0f3354f",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "formTitle": "Contact Our Sales Team",
        "formDescription": "Thank you for your interest in our services.\nPlease complete the form below so our team can understand your needs and contact you with the best solution.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Budget",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Low"
                  },
                  {
                    "option": "Medium"
                  },
                  {
                    "option": "High"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Phone",
              "fieldType": "number"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1248,
        448
      ],
      "id": "0fc602e6-1642-4412-b25a-d573ba9787a2",
      "name": "On form submission",
      "webhookId": "1da8305d-b160-4e2e-8385-0d88e47dc172"
    }
  ],
  "pinData": {},
  "connections": {
    "Normalize Lead Data": {
      "main": [
        [
          {
            "node": "Lead Scoring Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Scoring Engine": {
      "main": [
        [
          {
            "node": "Save Lead to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead to CRM": {
      "main": [
        [
          {
            "node": "Is High Value Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is High Value Lead?": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Success Email": {
      "main": [
        [
          {
            "node": "Slack Hot Lead Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up Email": {
      "main": [
        [
          {
            "node": "Slack Normal Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Normalize Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f3c89f79-0711-4eca-8016-22eab447e7bc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62f2985af45a3834454ce3edb7dec8ac3f813b0e759652dea31d5511cc0d5d7b"
  },
  "id": "AGlZA5pIWYN5QTiO",
  "tags": []
}